{{> head }}
{{> navbar }}
  
  <div class="container-fluid">
    <div class="row">

        <div class="col-8">
           <h1>About</h1>

               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Ducimus adipisci, ipsam animi, ipsum illum dolorum tempore rerum, soluta excepturi sint velit? Dicta, expedita architecto id pariatur rerum reiciendis voluptas labore!
              </p>
        </div>

        <div class="col-4">
              <img src="assets/img/logo.png" class="img-thumbnail">
        </div>
</div>

</div>
{{> footer }}


